.container2 {

    .assign-btn {
        background-color: #5fb689;
        color: #413e3e;
        font-weight: bold;
        font-size: 17px;
        border: none;
        border-radius: 10px;
        padding-top:3px;
        padding-bottom: 3px;
        text-align: center;
        width: 80px;
        height: 35px
    }

}