.bus{
  display: flex;
  width: 100%;

  .busContainer{
      flex: 6;
  }
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #9754c5;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .datatableTitle{
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  