.app.dark {
    background-color: rgb(0, 0, 0);
    color: rgb(156, 156, 156);

    .chartGrid {
        stroke: rgba(228, 228, 0.219);
    }

    .container1 {
        form {
            background-color: #a09a9a;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        }

        .input {
            border: 1px solid #1b1919;
        }

        .button {
            background-color: #96999d;
            color: #302d2d;
        }

        a {
            color: #000000;
        }
    }

    .navbar {
        color: #999;
        border-color: #333;
        border-bottom: 1px solid rgb(1, 1, 1);
        color: #999;
        background-color: #252424;


        .search {
            border-color: gray;
        }

        .input {
            &::placeholder {
                color: #080808;
            }
        }

        .items {
            .counter {
                background-color: rgb(20, 20, 20);
                color: rgb(22, 22, 22);
            }
        }
    }

    .sidebar {
        background-color: #111;
        border-color: #333;

        .top {
            .logo {
                color: #999;
            }
        }

        hr {
            border-color: #333;
        }

        ul {
            li {
                &:hover {
                    background-color: #333;
                }

                .icon {
                    color: #999;
                }
            }
        }
    }

    .datatable {
        .datagrid {
            color: gray;
            border: none;

            .viewButton,
            .deleteButton,
            cellWithStatus {
                color: gray;
                border: none;
            }
        }
    }

    .button {
        background-color: #555557;
        color: #e0dcdc;

        &:hover {
            background-color: #282829;
        }
    }

    .bus {
        .busContainer {
            .print {
                .print-btn {
                    background-color: rgb(90, 96, 94);
                    color: #cac4c4;
                }
            }
        }

        .detailsBox {
            background-color: rgb(22, 22, 22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        }
    }

    .cancel {
        .cancel-btn {
            background-color: rgb(90, 96, 94);
            color: #cac4c4;
        }

    }

    .toDate {
        color: #aea8a8;
    }

    .fromDate {
        color: #e0dcdc;
    }

    .fromInput {
        color: #e0dcdc;
    }

    .toInput {
        color: #e0dcdc;
    }


    table,
    th,
    td {
        background-color: rgb(28, 27, 27);

        th {
            color: rgb(240, 234, 234);
        }
    }

    .datatableTitle {
        color: gray;

        .btn-outline {
            background-color: rgb(90, 96, 94);
            color: #cac4c4;
        }
    }

    .busContainer {
        flex: 6;

        .container {
            .delete-turn {
                .deleteTurn-btn {
                    background-color: rgb(90, 96, 94);
                    color: #cac4c4;
                }
            }
        }
    }



    .title {
        color: gray;
    }


    .icontop {
        color: gray;
    }


    .widget {

        -webkit-box-shadow: -2px -5px 18px -8px #9a9393;
        box-shadow: -2px -5px 18px -8px #eaeaea;

        .left,
        .right {
            .title {
                color: rgb(154, 148, 148);
            }

            .counter {
                color: #817a7a;
            }

            .link {
                border-bottom: 1px solid rgb(155, 152, 152);
            }
        }
    }

    .container2 {

        .assign-btn {
            background-color: rgb(90, 96, 94);
            color: #cac4c4;
        }

    }

    .container1 {

        .detailsBox {
            background-color: rgb(22, 22, 22);
            box-shadow: 0 0 10px rgb(22, 22, 22);

            .mb-3 {
                .label {
                    color: #f3f3f3;
                }

                .input {
                    border: 1px solid #0a0909;
                }
            }

            .button {
                background-color: #49494b;
                color: #b7b5b5;
            }

            a {
                color: #474b4b;
            }
        }
    }

    .detailsBox {
        background-color: rgb(55, 56, 55);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .accountsettings {
        .top {
            .left {
                background-color: #282727;
                -webkit-box-shadow: 4px 4px 10px 2px rgba(20, 19, 19, 0.47);
                box-shadow: 4px 6px 10px 2px rgba(87, 85, 85, 0.47);

                .editButton {
                    color: #707072;
                    background-color: rgba(20, 19, 19, 0.47);
                }

                .details {
                    .itemTitle {
                        color: #555;
                    }

                    .detailItem {
                        .itemKey {
                            color: rgb(90, 87, 87);
                        }
                    }
                }
            }
        }

        .editInput {
            border: 1px solid #262525;
        }

        .saveButton {
            background-color: #5c605c;
            color: rgb(174, 169, 169);
        }

        .saveButton:hover {
            background-color: #454545;
        }

    }

    .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }

    .title {
        color: lightgray;
    }


    .home {
        display: flex;
      
      
        .homeContainer {
          .body {
            .heading {
              color: #b9b0ba;
            }
            .widgets-container {
              -webkit-box-shadow: -2px -5px 18px -8px #959393;
              box-shadow: -2px -5px 18px -8px #bcb7b7;
            }
          }
        }
      }
}