.home {
  display: flex;


  .homeContainer {
    flex: 6;


    .widgets-container {
      padding-top: 40px;
      padding-left: 200px;
      padding-right: 200px;
      
      // display: flex;
      
      .widgets-driver,
      .widgets-turn{
        padding-bottom: 30px;
      }
    }

    


  }
}