.home {
    display: flex;


    .homeContainer {
        flex: 6;

       
        .widgets-container {
            display: flex;
            justify-content: space-between;
     
          }
          
          .widgets-container > * {
            margin-right: 100px; /* Add margin-right for horizontal spacing between the cards */
          }
          
          .widgets-container > *:last-child {
            margin-right: 0; /* Remove margin-right for the last card to avoid extra gap */
          }
          
          
        .widgets {
            display: flex;
            padding: 20px;
            gap: 20px;
        }

    }
}