.bus {
  display: flex;
  width: 100%;

  .busContainer {
    flex: 5;

    .print {
      padding-top: 10px;
      padding-left: 1px;
      padding-bottom: 2px;

      .print-btn {
        background-color: rgb(23, 99, 62);
        color: #cac4c4;
        font-weight: bold;
        font-size: 17px;
        border: none;
        border-radius: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        width: 80px;
        height: 35px
      }


    }
  }




  .detailsBox {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(174, 227, 203);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }

  .cancel {
    padding-top: 10px;

    .cancel-btn {
      background-color: rgb(23, 99, 62);
      color: #cac4c4;
      font-weight: bold;
      font-size: 17px;
      border: none;
      border-radius: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: center;
      width: 80px;
      height: 35px
    }
  }

  .h {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .button {
    background-color: #052752;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &:hover {
      background-color: #94adbe;
    }
  }

  .date {
    text-align: left;

  }

  .toDate {
    color: #000000;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .fromDate {
    color: #000000;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .fromInput {
    color: #000000;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 2rem;

  }

  .toInput {
    color: #000000;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 2rem;

  }



}