.bus {
  display: flex;
  width: 100%;

  .busContainer {
    flex: 5;

    .body {
      display: flex;
      flex-direction: column;
      .title {
        width: 100%;
        font-size: 20px;
        color: rgb(82, 46, 92);
      
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
      }

      .detailsBox {
     margin-top:10px ;
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-shadow: -2px -5px 18px -8px #dbe6e2;
        box-shadow: -2px -5px 18px -8px #030b08;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
      }
    }

    .print {
      padding-top: 10px;
      padding-left: 1px;
      padding-bottom: 2px;

      .print-btn {
        background-color: rgb(23, 99, 62);
        color: #cac4c4;
        font-weight: bold;
        font-size: 17px;
        border: none;
        border-radius: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
        width: 80px;
        height: 35px
      }
    }

  }



  .cancel {
    padding-top: 10px;

    .cancel-btn {
      background-color: rgb(23, 99, 62);
      color: #cac4c4;
      font-weight: bold;
      font-size: 17px;
      border: none;
      border-radius: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: center;
      width: 80px;
      height: 35px
    }
  }



  .button {
    background-color: #052752;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &:hover {
      background-color: #94adbe;
    }
  }


 
  
  .date {
    text-align: left;

  

  }

  .toDate {
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
    color: rgb(82, 46, 92);
  }

  .fromDate {
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;

    font-size: 20px;
    color: rgb(82, 46, 92);
  }

  .fromInput {
    color: #000000;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 2rem;

  }

  .toInput {
    
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 2rem;

  }


 


}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.report-table th,
.report-table td {
  color: #000000;
  border: 1px solid #ccc;
  padding: 8px;
}

.report-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.title {
  color: #000000;
}