.bus {
  display: flex;
  width: 100%;

  .tableBorderShadow {
    margin-top: 10px;
  }

  .busContainer {
    flex: 6;

    .container {

      .title {
        font-weight: bolder;
        font-size: 30px;
        padding-top: 10px;
      }

      .datatableTitle {
        padding-left: 1px;

        .searchBarContainer {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 10px;
        }

        .searchColumn,
        .searchInput,
        .searchButton {
          height: 30px;
          margin-left: 10px;
          //padding: 5px ;
          border: 1px solid #ccc;
          border-radius: 10px;
          outline: none;
          font-size: 14px;
        }

        .searchButton {
          background-color: rgb(23, 99, 62);
          color: white;
          border-radius: 10px;
          cursor: pointer;
        }

        .searchButton:hover {
          background-color: #45a049;
        }

      }

      .assignDeleteContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }

      .assignContainer {
        flex: 1;
      }

      .deleteContainer {
        margin-left: 10px;

        .deleteTurn-btn {
          background-color: rgb(23, 99, 62);
          color: #cac4c4;
          font-weight: bold;
          font-size: 15px;
          border: none;
          border-radius: 10px;
          padding-bottom: 3px;
          text-align: center;
          width: 150px;
          height: 30px
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;

    .icon {
      font-size: 17px;
    }
  }

  th {
    background-color: #050008;
    color: white;
    position: relative;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .datatableTitle {
    width: 100%;
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-outline {
      background-color: rgb(23, 99, 62);
      color: #cac4c4;
      font-weight: bold;
      font-size: 17px;
      border: none;
      border-radius: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: center;
      width: 80px;
      height: 30px;
      cursor: pointer;
    }

    .btn-outline:hover {
      background-color: #3f7c42;
    }

    .sortIcon {
      margin-left: 5px;
      font-size: 16px;
      color: #808080;
      pointer-events: none;
    }
  }

  .title {
    width: 100%;
    font-size: 20px;
    color: rgb(82, 46, 92);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .icontop {
    font-size: 200px;
    color: rgb(82, 46, 92);
  }


}