.bus{
  display: flex;
  width: 100%;

  .busContainer{
      flex: 6;
  }
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #b682d8;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .datatableTitle{
    width: 100%;
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
  width: 100%;
  font-size: 20px;
  color: rgb(82, 46, 92);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.icontop {
  font-size: 200px;
  color: rgb(82, 46, 92);
}
  