.bus {
  display: flex;
  width: 100%;

  .tableBorderShadow {
    margin-top: 10px;
  }

  .busContainer {
    flex: 6;
    .container{

      .title{
        font-weight: bolder;
       font-size: 30px;
       padding-top: 10px;
      }

      .datatableTitle{
        padding-left: 1px;
      }
      .delete-turn{
        padding-top: 10px;
        padding-left: 1px;

        .deleteTurn-btn{

          background-color:#5fb689;
          color:#413e3e;
          font-weight:bold;
          font-size: 15px;
          border:none;
          border-radius:10px;
          padding-top:3px;
          padding-bottom: 3px;
         
          text-align:center;
          width :150px;
          height:35px
        }
      }
    }

  }

  table {

    border-collapse: collapse;
    width: 100%;

  }

  th,
  td {
    text-align: left;
    padding: 8px;

    .icon {
      font-size: 17px;
    }
  }

  th {
    background-color: #050008;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .datatableTitle {
    width: 100%;
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-outline{

      background-color:#5fb689;
      color:#413e3e;
      font-weight:bold;
      font-size: 17px;
      border:none;
      border-radius:10px;
      padding-top:3px;
      padding-bottom: 3px;
      text-align:center;
      width :80px;
      height:35px
    }
  }

  .title {
    width: 100%;
    font-size: 20px;
    color: rgb(82, 46, 92);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .icontop {
    font-size: 200px;
    color: rgb(82, 46, 92);
  }

}