.detailsBox {
    margin-top: 100px;
  margin-left: 200px ;
  margin-right: 200px;
  background-color: rgb(174, 227, 203);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .form{
    
  }
}


.h {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
