.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: -2px -5px 18px -8px #000000;
    box-shadow: -2px -5px 18px -8px #000000;
    border-radius: 15px;
    height: 150px;
    width: 250px;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 20px;
            color: rgb(106, 101, 101);
        }

        .counter {
            font-size: 40px;
            font-weight: 500;
            color: #000000;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }


        .icon {
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }

}