

.turns{
    display: flex;
    background-color: rgb(124, 230, 170);
    .turnsContainer{
        // background-color: lightblue; this is for viewing flexbox sizes of sidebar and homecontainer
        flex: 6;
    }
}